@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-weight: 400;
}


body {
    font-weight: 400;
    color: #1a202c;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 130rem;
}

.header {
    position: relative;
    background-image: url("../images/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.header__image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.header__box {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}

.header__box_pb {
    padding-bottom: 0;
}

.header__list {
    display: flex;
    align-content: center;
}

.header__list-item {
    list-style-type: none;
}

.header__list-item-link {
    display: block;
    padding: 1.5rem 2.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__list-item-link_lock {
    position: relative;
    height: 100%;
    background-color: #e60000;
}

.header__lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trailer__title {
    display: block;
    max-width: 10rem;
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 900;
    font-size: 3.6rem;
    color: #e60000;
}

.trailer {
    display: flex;
    align-items: center;
}


.trailer__circle {
    position: relative;
    margin-right: 0.5rem;
    background-color: #e60000;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #e60000;
}

.trailer__circle-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -40%);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

.pulse__btn {
    animation: pulse-btn-animation 2s infinite;
}


@keyframes pulse-btn-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(230, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 0 1.5rem rgba(230, 0, 0, 0);
    }
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(230, 0, 0, 1);
    }
    100% {
        box-shadow: 0 0 0 5rem rgba(230, 0, 0, 0);
    }
}

.page__title {
    display: block;
    margin-left: -0.4rem;
    font-size: 11.5rem;
    line-height: 0.8;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
}

.page__subtitle {
    margin-top: 1rem;
    margin-left: -0.1rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: #ffffff;
    text-transform: uppercase;
}

.hero {
    padding-top: 28rem;
    position: relative;
    padding-bottom: 15rem;
    z-index: 1;
}

.motivation {
    background-color: #0a0a0a;
    padding: 3rem 0;
}

.motivation__box {
    display: flex;
    justify-content: space-between;
}

.motivation__column_mw {
    max-width: 42rem;
}

.motivation__text {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
}

.motivation__text_mb {
    display: block;
    margin-bottom: 5rem;
}

.motivation__info {
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.motivation__text_color, .motivation__info_color {
    color: #e60000;
}

.motivation__btn {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1.5rem 5rem;
    min-width: 37rem;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e60000;
    color: #ffffff;
}

.project {
    padding: 15rem 0;
    background-color: #e5e5e5;
}

.project__box {
    display: flex;
}

.project__box_mb {
    margin-bottom: 10rem;
}

.project__image {
    max-width: 100%;
    margin-bottom: 3rem;
}

.project__title {
    display: block;
    margin-bottom: 5rem;
    font-weight: 900;
    font-size: 7.2rem;
    color: #0a0a0a;
    text-transform: uppercase;
    line-height: 0.8;
}

.project__subtitle {
    display: block;
    max-width: 40rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.4rem;
    color: #0a0a0a;
}

.project__text {
    display: block;
    margin-bottom: 2.5rem;
    max-width: 45rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #0a0a0a;
}

.project__strong {
    display: block;
    margin-bottom: 2.5rem;
    max-width: 45rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: 'GolosTextWebBold';
    color: #0a0a0a;
}

.project__strong_mx {
    max-width: 30rem;
}

.project__text_mw {
    margin-right: 2rem;
    max-width: 30rem;
}

.project__column_mx {
    min-width: 45rem;
}

.project__image_mt {
    margin-top: 5rem;
}

.project__round {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project__meta {
    display: flex;
}

.footer-home {
    position: relative;
    margin: 0 auto 5rem;
    padding-top: 5rem;
    padding-bottom: 20rem;
    max-width: 130rem;
    background-image: url("../images/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.footer-home::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 50rem solid transparent;
    border-right: 25rem solid transparent;
    border-bottom: 10rem solid #ffffff;
}

.footer-home::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 10rem solid #ffffff;
}


.footer-home__list {
    display: flex;
    padding-top: 2rem;
    margin-bottom: 10rem;
    list-style-type: none;
}

.footer-home__list-item-link {
    display: block;
    margin: 0 5rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.copy {
    position: relative;
    margin-bottom: 10rem;
    text-align: center;
}

.copy:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 10rem;
    bottom: -12rem;
    background-color: #0a0a0a;
}

.footer-home__link {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.header-small, .footer {
    background-image: url("../images/wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header-small__box, .header-small__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-small__item-link {
    display: block;
    margin: 0 2rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #ffffff;
}

.section__title {
    display: block;
    margin-bottom: 6.5rem;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.8;
}

.section__title_mt {
    margin-top: 5rem;
}

.rates {
    margin-top: 5rem;
}

.rates__description {
    display: block;
    margin-bottom: 5rem;
    max-width: 80rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.rates__number {
    font-size: 10rem;
    line-height: 0.75;
    font-weight: 900;
}

.rates__currency {
    font-weight: 900;
    font-size: 1.8rem;
}

.rates__box {
    display: flex;
    margin-bottom: 7rem;
}

.rates__title {
    max-width: 25rem;
    display: block;
    margin-bottom: 1.5rem;
    font-weight: 900;
    line-height: 0.8;
    font-size: 3rem;
    text-transform: uppercase;
}

.rates__column {
    flex: 1;
}

.rates__subtitle {
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    max-width: 20rem;
}

.rates__advantage {
    font-weight: 400;
    font-size: 1.4rem;
}

.rates__button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0 3rem;
    background-color: #e60000;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    line-height: 4rem;
    border: none;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.rates__button:hover {
    background-color: #0a0a0a;
    animation: pulse-btn-rose-animation 2s infinite;
}

@keyframes pulse-btn-rose-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1)
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0)
    }
}

.btn__ico {
    background: none;
    border: none;
    cursor: pointer;
}

.footer {
    padding: 5rem 0 10rem;
}

.footer__nav {
    margin-bottom: 7rem;
}

.footer__list {
    display: flex;
}

.footer__list-item {
    list-style-type: none;
}

.footer__list-item-link {
    display: block;
    margin-right: 5rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}

.profile {
    padding: 5rem 0;
}

.profile__box {
    margin-top: 5rem;
}

.profile__title {
    display: block;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.8;
}

.profile__cover {
    display: block;
    position: relative;
    width: 25rem;
    height: 25rem;
    background-size: cover;
}

.profile__cover-pic {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.profile__meta-column {
    text-align: center;
}

.profile__box {
    display: flex;
}

.profile__column_mr {
    margin-right: 7rem;
}

.profile__meta {
    margin-top: 2rem;
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
}

.profile__abbreviation {
    display: block;
    font-weight: 900;
    font-size: 2.4rem;
}

.profile__purpose {
    margin-top: 3rem;
}

.profile__purpose-title {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.profile__purpose-text {
    display: block;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    max-width: 25rem;
}

.profile__age {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-size: cover;
    width: 10.7rem;
    height: 10.7rem;
    bottom: 3rem;
    right: -3rem;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.8rem;
}

.profile__ico-edit {
    width: 2.5rem;
    height: auto;
}

.profile__ico {
    height: 4rem;
}

.profile__premium {
    position: relative;
    top: 4rem;
    transform: rotate(-20deg);
    display: inline-block;
    line-height: 3rem;
    padding: 0 3rem;
    font-family: 'GolosTextWebBold';
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #e60000;
}

.profile__td {
    padding-bottom: 3rem;
    min-width: 15rem;
    vertical-align: top;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.profile__td-link {
    color: #0a0a0a;
}

.profile__th {
    padding: 2rem 0;
    min-width: 15rem;
    font-family: 'GolosTextWebBold';
    font-size: 1.4rem;
    text-align: left;
}

.found {
    padding: 5rem 0;
}

.found__text {
    font-size: 1.4rem;
    max-width: 15rem;
}

.found__column_center {
    text-align: center;
}

.found__column_right {
    text-align: right;
}

.bonuses, .days {
    padding: 5rem 0;
}

.bonuses__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bonuses__column {
    position: relative;
    margin-bottom: 3rem;
    width: calc(50% - 1.5rem);
}

.bonuses__column:nth-child(3n) {
    width: 100%;
}

.bonuses__column::after, .bonus__video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.bonus__video {
    position: relative;
}

.bonuses__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bonuses__iframe-link {
    display: block;
    width: 100%;
    font-weight: 700;
    line-height: 3rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: #ffffff;
    font-size: 1.6rem;
    color: #0a0a0a;
    text-decoration: none;
}

.bonuses__text {
    display: block;
    max-width: 80rem;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.days__box {
    display: flex;
}

.days__column {
    flex: 1;
}

.days__column_mw {
    border-left: 1px solid #e4e4e4;
    max-width: 30rem;
}

.days__profile {
    margin: 5rem 0 5rem 2rem;
    display: flex;
}

.days__cover {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    background-size: cover;
    border-radius: 50%;
}

.profile-column_mw {
    max-width: 5rem;
}

.days__name-link {
    display: block;
    text-decoration: none;
    color: #0a0a0a;
    font-family: 'GolosTextWebBold';
    font-size: 1.6rem;
}

.days__subtitle {
    font-weight: 400;
    font-size: 1.2rem;
}

.days__list {
    padding-bottom: 5rem;
    padding-left: 5rem;
    max-height: 100vh;
    overflow-y: scroll;
    list-style-type: none;
    border-left: none;
}

.days__list-item-link {
    position: relative;
    display: block;
    padding: 1.5rem 0;
    font-weight: 400;
    font-size: 1.4rem;
    color: #0a0a0a;
}

.days__list-item-link::before {
    content: '';
    position: absolute;
    left: -1rem;
    width: 2rem;
    height: 1.3rem;
    background-image: url("../images/ico-show.png");
}

.days__list-item-link_grey {
    color: #b6b6b6;
}

.days__list-item-link_bold {
    font-family: 'GolosTextWebBold';
    text-decoration: none;
}

.days__list-item-link::before {
    content: '';
    position: absolute;
    top: 1.7rem;
    left: -3rem;
    width: 2rem;
    height: 1.3rem;
    background-image: url("../images/ico-show.png");
}

.days__list-item-link_grey::before {
    content: '';
    position: absolute;
    left: -3rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../images/ico-hide.png");
}

.days__description {
    margin: 5rem 0;
    border-left: 1rem solid #0a0a0a;
    max-width: 50rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-left: 5.5rem;
}

.days__column_mb {
    margin-bottom: 5rem;
}

.section__subtitle {
    display: block;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: 900;
    font-size: 3rem;
}

.enter {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/wall.jpg");
    background-size: cover;
    background-color: #0a0a0a;
}

.enter::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.enter__input {
    padding-left: 2rem;
    width: 100%;
    border: none;
    background-color: #e60000;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 5rem;
}

.enter__input::placeholder {
    color: #ffffff;
}

.enter__box {
    margin-bottom: 2rem;
}

.enter__form {
    position: relative;
    margin: 0 auto;
    max-width: 50rem;
    z-index: 1;
}

.enter__form-link {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.enter__form-link_color {
    color: #e60000;
    text-decoration: underline;
}

.alert__success {
    width: 100%;
    padding: 1rem;
    background-color: #e2e8f0;
}

.error {
    display: block;
    margin-bottom: 0.5em;
    color: #e60000;
    font-weight: 700;
    font-size: 1.4em;
}

.form__column {
    margin-bottom: 2em;
    display: flex;
}

.form__input {
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid #b6b6b6;
}

.form__small {
    font-weight: 400;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.form__small_yellow {
    background-color: #A6E22E;
}

.form__input_textarea {
    padding: 0.5em;
}

.form__input_file {
    font-size: 1.4em;
}

.form__input_border-none {
    border: none;
}

.form__input_border {
    border: 1px solid #b6b6b6;
}

.forgot__link {
    margin-top: 2em;
    display: block;
    font-weight: 700;
    font-size: 1.4em;
    color: #e60000;
}

.forgot__link:hover {
    color: #e2e8f0;
}

.form__label {
    color: #718096;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    min-width: 10em;
    font-weight: 700;
    font-size: 1.2em;
}

.admin {
    margin: 0 auto 5rem;
    max-width: 70em;
}

.edit__button {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1.4em;
    text-decoration: underline;
    cursor: pointer;
}

.edit__button:hover {
    color: #e60000;
}

.catalogue__item {
    position: relative;
    padding: 2rem 0;
    line-height: 1;
}

.catalogue__item-iterate {
    position: absolute;
    width: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #b6b6b6;
}

.catalogue__item-link {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: #0a0a0a;
}

.catalogue__item-link-cover {
    margin-right: 2rem;
}

.attention {
    padding: 1em 0;
    background-color: #e60000;
    font-weight: 700;
    font-size: 1.4em;
    color: #fff3cd;
}

.attention__link {
    color: #fff3cd;
}

.comment {
    margin-bottom: 5em;
}

.comment p, .comment img {
    display: block;
    margin-bottom: 1em;
}

.comment__title {
    display: block;
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 1.4em;
    color: #0a0a0a;
}

.comment__profile {
    display: flex;
}

.comment__profile_column {
    margin-right: 2em;
}

.comment__profile_column:last-child {
    flex: 1;
}

.comment__profile_column p {
    display: block;
    font-weight: 400;
    font-size: 1.6em;
}

.comment__profile_column p img {
    width: 100%;
    display: block;
    max-width: 70rem;
    height: auto !important;
}

.comment__profile-pic {
    border-radius: 50%;
    width: 5em;
}

.comment__profile_title {
    color: #0a0a0a;
    font-family: 'GolosTextWebBold';
    font-size: 1.6em;
}

.comment__profile_title:hover,
.comment__title:hover {
    color: #e60000;
}

.comment__status {
    display: flex;
}

.comment__status-ico {
    width: 1.2rem;
    display: inline-block !important;
    margin-bottom: 0 !important;
}

.comment__profile_time {
    display: block;
    margin: 0.5em 0 2em;
    font-weight: 400;
    font-size: 1.1em;
    color: #b6b6b6;
}

.comment__description {
font-weight: 400;
    font-size: 1.6em;
}

.ck-editor__editable {
    min-height: 30rem;
font-weight: 400;
    font-size: 1.6em;
}

.pagination {
    font-weight: 700;
    font-size: 1.6em;
    text-decoration: none;
    color: #1a202c;
    list-style: none;
}

.pagination li {
    margin: 1em;
    display: inline-block;
}

.pagination li:first-child, .pagination li:last-child {
    display: none;
}

.pagination li.active {
    color: #e60000;
}

.pagination li a {
    text-decoration: none;
    color: #0a0a0a;
}

.search {
    display: flex;
    margin-bottom: 5rem;
}

.search__input {
    width: 70%;
    padding: 1rem;
font-weight: 400;
    font-size: 1.6em;
    border: 3px solid #0a0a0a;
}

.control {
    display: flex;
    padding: 1em 0;
    align-items: center;
}

.control__link {
    font-weight: 700;
    color: #0a0a0a;
}

.control__column {
    flex: 1;
font-weight: 400;
    font-size: 1.4em;
}

.control__select {
    max-width: 10rem;
    padding: 0.6rem;
font-weight: 400;
    font-size: 1.4rem;
    border: 1px solid #f4f4f4;
}

.control__option {
font-weight: 400;
    font-size: 1.6rem;
}

.thead {
    display: flex;
}

.thead__column {
    flex: 1;
    margin-bottom: 2rem;
font-weight: 400;
    font-size: 1.1rem;
    color: #b6b6b6;
}

.content__title {
    display: block;
    margin-bottom: 1.4rem;
    font-size: 2.1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.content__list {
    margin-top: 1rem;
    padding-left: 5rem;
    margin-bottom: 5rem;
}

.content__list-item {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    opacity: 0.75;
}

@media screen and (max-width: 1100px) {
    .page__title {
        font-size: 8rem;
    }

    .footer-home::after {
        border-left: 40rem solid transparent;
    }

    .header__nav {
        overflow: hidden;
    }

    .header-small__nav {
        overflow-x: scroll;
        scrollbar-color: #888888 #FFFFFF;
    }
}

@media screen and (max-width: 880px) {
    .header__list-item-link {
        padding: 1.5rem;
    }

    .header__list-item-link_lock {
        padding: 1.5rem 4rem;
    }

    .project {
        padding: 5rem 0;
    }

    .project__box,
    .days__box {
        flex-direction: column;
    }

    .project__image {
        margin-top: 1rem;
    }

    .project__text_mw {
        max-width: none;
    }

    .project__box_mb {
        margin-bottom: 5rem;
    }

    .footer-home__list-item-link {
        margin: 0 5rem 0 0;
    }

    .section__title {
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    .bonuses__column {
        width: 100%;
    }

    .days__profile {
        margin: 5rem 0 2rem 0rem;
    }

    .days__list {
        padding-left: 3rem;
    }

    .days__column_mw {
        border-left: none;
        max-width: none;
    }

    .section__subtitle {
        margin-top: 3rem;
    }

    .days__description {
        padding-left: 2.5rem;
    }

    .enter__form {
        margin-top: 5rem;
        padding-bottom: 5rem;
    }

    .enter__form-link {
        font-size: 2rem;
    }

    .rates__box {
        margin-bottom: 3rem;
        flex-direction: column;
    }

    .rates__subtitle {
        margin-bottom: 2rem;
        max-width: none;
    }

    .header__list {
        overflow-x: scroll;
    }

    .thead {
        display: none;
    }

    .control {
        align-items: flex-start;
        flex-direction: column;
    }

    .control__column {
        margin-bottom: 0.1rem;
    }
}


@media screen and (max-width: 740px) {
    .motivation__box {
        flex-direction: column;
    }

    .motivation__column_mw {
        margin-bottom: 3rem;
        max-width: none;
    }

    .footer-home::after {
        content: none;
    }

    .header__list-item-link_lock {
        padding: 1.5rem 2.5rem;
    }

    .profile__box {
        flex-direction: column;
    }

    .profile__column_mr {
        margin-right: 0;
    }

    .profile__purpose-text {
        margin-bottom: 3rem;
    }
}

